#white{
	color: #FFFFFF;
}

#map{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

#slider{
	position: absolute;
	top: 850px;
	
}

#episodeNr{
	position:absolute;
	left: 1200px;
	top: 50px;
	z-index: 1;
	color: white;
	
}
#jonsnow{	
	position: absolute;
	top: 375px;
	left: 250px;
	z-index: -2;
}

#branstark{	
	position: absolute;
	top: 350px;
	left: 250px;
	z-index: -2;
}

#eddardstark{	
	position: absolute;
	top: 350px;
	left: 225px;
	z-index: -2;
}

#robbstark{	
	position: absolute;
	top: 350px;
	left: 275px;
	z-index: -2;
}

#rickonstark{	
	position: absolute;
	top: 375px;
	left: 225px;
	z-index: -2;
}

#sansastark{	
	position: absolute;
	top: 375px;
	left: 275px;
	z-index: -2;
}

#aryastark{	
	position: absolute;
	top: 400px;
	left: 225px;
	z-index: -2;
}

#ladycatelyn{	
	position: absolute;
	top: 400px;
	left: 250px;
	z-index: -2;
}

#theongreyjoy{	
	position: absolute;
	top: 400px;
	left: 275px;
	z-index: -2;
}

#cerseilannister{	
	position: absolute;
	top: 675px;
	left: 300px;
	z-index: -2;
}

#tyrionlannister{	
	position: absolute;
	top: 650px;
	left: 300px;
	z-index: -2;
}

#jamielannister{	
	position: absolute;
	top: 700px;
	left: 300px;
	z-index: -2;
}

#joffreybaratheon{	
	position: absolute;
	top: 650px;
	left: 275px;
	z-index: -2;
}

#robertbaratheon{	
	position: absolute;
	top: 675px;
	left: 275px;
	z-index: -2;
}

#khaldrogo{	
	position: absolute;
	top: 650px;
	left: 500px;
	z-index: -2;
}

#daenerystargaryen{	
	position: absolute;
	top: 625px;
	left: 500px;
	z-index: -2;
}

#viserystargaryen{	
	position: absolute;
	top: 675px;
	left: 500px;
	z-index: -2;
}

#jorahmormont{	
	position: absolute;
	top: 650px;
	left: 525px;
	z-index: -2;
}

#myrcellabaratheon{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#tommenbaratheon{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#petyrbaelish{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#varys{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#samwelltarly{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#hodor{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#lysaarryn{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#robinarryn{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}

#tywinlannister{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}