#white{
	color: #FFFFFF;
}

#map{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}
#name{
	position: absolute;
	top: 75px;
	left: 1575px;
	z-index: 0;
	font-size: 150%;
	font-weight: bold;
	font-family: "Roboto Slab", cursive;
}
#icon{
	position: absolute;
	top: 45px;
	left: 1800px;
	z-index: 0;
	
}
#charinf{
	position: absolute;
	top: 0px;
	left: 1446px;
	z-index: -2;
}
#charpor{
	position: absolute;
	top: 0px;
	left: 1446px;
	z-index: -1;
}

#char{
	position: absolute;
	top: 150px;
	left: 1512px;
	z-index: 0;
	font-size: 80%;
	font-family: "Roboto Slab", cursive;
}
#play{
	position: absolute;
	top: 835px;
	left: 260px;
	z-index: 2;
}

#stark{
	position: absolute;
	top: 10px;
	left: 1350px;
	z-index: 2;
}
#lannister{
	position: absolute;
	top: 10px;
	left: 1050px;
	z-index: 2;
}
#baratheon{
	position: absolute;
	top: 10px;
	left: 1150px;
	z-index: 2;
}
#targaryen{
	position: absolute;
	top: 10px;
	left: 1250px;
	z-index: 2;
}
#arryn{
	position: absolute;
	top: 90px;
	left: 1350px;
	z-index: 2;
}
#mormont{
	position: absolute;
	top: 90px;
	left: 1250px;
	z-index: 2;
}
#greyjoy{
	position: absolute;
	top: 90px;
	left: 1150px;
	z-index: 2;
}
#slider{
	position: absolute;
	top: 850px;
	
}

#episodeNr{
	position:absolute;
	left: 1200px;
	top: 50px;
	z-index: 1;
	color: white;
	
}
#jonsnow{	
	position: absolute;
	top: 375px;
	left: 250px;
	z-index: -2;
}

#jonsnow:hover{	
	transform: scale(3,3);
	z-index:10;
}

#branstark{	
	position: absolute;
	top: 350px;
	left: 250px;
	z-index: -2;
}
#branstark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#eddardstark{	
	position: absolute;
	top: 350px;
	left: 225px;
	z-index: -2;
}
#eddardstark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#robbstark{	
	position: absolute;
	top: 350px;
	left: 275px;
	z-index: -2;
}
#robbstark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#rickonstark{	
	position: absolute;
	top: 375px;
	left: 225px;
	z-index: -2;
}
#rickonstark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#sansastark{	
	position: absolute;
	top: 375px;
	left: 275px;
	z-index: -2;
}
#sansastark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#aryastark{	
	position: absolute;
	top: 400px;
	left: 225px;
	z-index: -2;
}
#aryastark:hover{	
	transform: scale(3,3);
	z-index:10;
}
#ladycatelyn{	
	position: absolute;
	top: 400px;
	left: 250px;
	z-index: -2;
}
#ladycatelyn:hover{	
	transform: scale(3,3);
	z-index:10;
}
#theongreyjoy{	
	position: absolute;
	top: 400px;
	left: 275px;
	z-index: -2;
}
#theongreyjoy:hover{	
	transform: scale(3,3);
	z-index:10;
}
#cerseilannister{	
	position: absolute;
	top: 675px;
	left: 300px;
	z-index: -2;
}
#cerseilannister:hover{	
	transform: scale(3,3);
	z-index:10;
}
#tyrionlannister{	
	position: absolute;
	top: 650px;
	left: 300px;
	z-index: -2;
}
#tyrionlannister:hover{	
	transform: scale(3,3);
	z-index:10;
}
#jamielannister{	
	position: absolute;
	top: 700px;
	left: 300px;
	z-index: -2;
}
#jamielannister:hover{	
	transform: scale(3,3);
	z-index:10;
}
#joffreybaratheon{	
	position: absolute;
	top: 650px;
	left: 275px;
	z-index: -2;
}
#joffreybaratheon:hover{	
	transform: scale(3,3);
	z-index:10;
}
#robertbaratheon{	
	position: absolute;
	top: 675px;
	left: 275px;
	z-index: -2;
}
#robertbaratheon:hover{	
	transform: scale(3,3);
	z-index:10;
}
#khaldrogo{	
	position: absolute;
	top: 650px;
	left: 500px;
	z-index: -2;
}
#khaldrogo:hover{	
	transform: scale(3,3);
	z-index:10;
}
#daenerystargaryen{	
	position: absolute;
	top: 625px;
	left: 500px;
	z-index: -2;
}
#daenerystargaryen:hover{	
	transform: scale(3,3);
	z-index:10;
}
#viserystargaryen{	
	position: absolute;
	top: 675px;
	left: 500px;
	z-index: -2;
}
#viserystargaryen:hover{	
	transform: scale(3,3);
	z-index:10;
}
#jorahmormont{	
	position: absolute;
	top: 650px;
	left: 525px;
	z-index: -2;
}
#jorahmormont:hover{	
	transform: scale(3,3);
	z-index:10;
}
#myrcellabaratheon{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#myrcellabaratheon:hover{	
	transform: scale(3,3);
	z-index:10;
}
#tommenbaratheon{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#tommenbaratheon:hover{	
	transform: scale(3,3);
	z-index:10;
}
#petyrbaelish{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#petyrbaelish:hover{	
	transform: scale(3,3);
	z-index:10;
}
#varys{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#varys:hover{	
	transform: scale(3,3);
	z-index:10;
}
#samwelltarly{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#samwelltarly:hover{	
	transform: scale(3,3);
	z-index:10;
}
#hodor{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#hodor:hover{	
	transform: scale(3,3);
	z-index:10;
}
#lysaarryn{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#lysaarryn:hover{	
	transform: scale(3,3);
	z-index:10;
}
#robinarryn{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#robinarryn:hover{	
	transform: scale(3,3);
	z-index:10;
}
#tywinlannister{	
	position: absolute;
	top: 775px;
	left: 525px;
	z-index: -2;
}
#tywinlannister:hover{	
	transform: scale(3,3);
	z-index:10;
}